<!-- start custom footer snippets -->

<!--
<script type="text/javascript" id="cookiebanner"
  src="https://fastly.jsdelivr.net/gh/dobarkod/cookie-banner@1.2.2/dist/cookiebanner.min.js"></script>
-->

<!--<script>
    if (getQueryVariable("edit") == 1) {
        document.body.contentEditable = 'true';
        document.designMode = 'on';
    }
</script>-->
<script>
  // site-subtitle handler
  var origSiteSubtitle = document.querySelector(".site-subtitle").innerHTML;
  var siteSubtitleList = [
    "Hello World!",
    "「去把这个不完美的故事，变成你所期望的样子。」",
    "「用伤害无辜者来掩盖自己的错误是心虚的体现，也永远掩盖不了。」",
    "「而且我不借你一点什么的话，我们明天怎么再见？」",
    "「你看那通天的巨塔，每时每刻都有人往下跳。我小时候不懂，以为那是雪花。」",
    "我能吞下玻璃而不伤身体。 I can eat glass, it does not hurt me.",
    "「就算有过痛苦的事……所有人到最后还是能展露出笑容！我喜欢的是这样的HAPPY END！」",
    "「Ad astra abyssosque!」",
    "「请为一切不真实之物感到骄傲，因为我们高于这个世界！」",
    "「飞翔吧，飞翔吧。就像飞鸟那样。代我看看这个世界…代我飞到高天之上。」",
    "「愿君严肃活泼，始终热爱生活。」",
    "不要轻易相信任何人或集体的言论，也包括我的。",
    "共同携手，创造更美好。 Make things better together.",
    "「风向是会转变的，终有一天，会吹向更有光亮的方向。」",
    "「心有所向，日复一日，必有精进。」",
    "「不愿意沟通的话，问题就会永远留在那里。人们就会看着，看着……直到眼睁睁地错过所有解决它的机会。」",
    "「我想要宪法赋予我的那个世界。」",
    "「我来自一个受过伤痛的国家，我们的国家飞速发展，只是有些人被牺牲了而已。」",
    "「神看不见我和我的个案们。我能。」",
    "「能独立地表达自己的观点，却不傲慢，对政治表示服从，却不卑躬屈膝。能积极地参与国家政策，看到弱者知道同情，看到邪恶知道愤怒，这才算是一个真正的公民。」",
    "爱就是爱。 Love is love. 🏳️‍🌈",
    "您不必独自面对。",
    "您的心理健康和身体健康同等重要。",
    "您值得拥有空间和时间来疗伤。",
    "「千言万语，此时也只能汇作相伴。」",
    "「没有学术的民主和思想的自由，科学就不能繁荣。」",
    "「我们希望有一天，那些设置障碍使自己的人民与世界隔离、使人民互相隔离的政府，将认识到他们这么做不但伤害自己的利益，也伤害自己公民和全人类的权利。」",
    "「我什么都做不到...」",
    "「人生最终的价值在于觉醒和思考的能力，而不只在于生存。」",
    "「无论我们走多远，我们都只是一群动物。我只是一匹马或一只鹿，假装明白，自以为与众不同。」",
    "「我要将子弹射入那不义的源头！」",
    "「不让虚假蒙蔽真实，不让邪恶取代善良，不让丑陋压制美好」",
    "「人民，无辜的芸芸众生，总是付出最高的代价。」",
    "「当您庆幸于在自己脖子上每一圈加紧的绳索下获得的喘息时，无需质疑，您只会迎来下一圈更紧的绳索。冷嘲热讽或是觉得“反正有办法绕过”的时候别忘了，我们是人，我们理应享受基本的权利，免于被监视和免于被屠戮一样皆是。」",
    "「我们都还年轻，该做的梦及时去做，该追寻的梦想用力去追寻。」",
    "「最后，我们变成了一群做梦的人，这个梦的名字，叫根据相关法律法规，相关搜索结果不予显示梦。」",
    "「下一次的相遇可能在任何地方，但我们始终灿烂如星海。」",
    "「历史不会浓缩在一个晚上，历史又常在一夜间被改写。」",
    "「勇气，是生命在艰难时间奋不顾身的相信。相信，是时间赋予生命坚韧恒久的勇气。」",
    "「当现实足够沉重，希望本身就是一种奢侈。」",
    "「坚强起来，才不会丧失温柔。」",
    "「这种喜爱并非虚假之物。」",
    "「就事论事，不要开群体炮，是保持有意义沟通的基本准则」",
    "「我们太容易接受现实/因为现实总是那么不真实/2022年不该被这样画上句号/人生还有小径分叉的花园」",
    "「人不是活一辈子，不是活几年、几月、几天，而是活几个瞬间。」",
    "「因为这是我的职责。」",
    "「没有一个负责任的大人愿意面对孩子们的痛苦」",
    "「你的出生意味着我们能够像现在这样在一起。」",
    "「我的梦想是不失去任何东西，让所有人笑着回来。」",
    // "「」",
  ];
  // random
  var siteSubtitle =
    siteSubtitleList[Math.floor(Math.random() * siteSubtitleList.length)];
  document.querySelector(".site-subtitle").innerHTML = siteSubtitle;
</script>

<!-- end custom footer snippets -->
