<!-- start custom footer snippets -->

<!--
<script type="text/javascript" id="cookiebanner"
  src="https://fastly.jsdelivr.net/gh/dobarkod/cookie-banner@1.2.2/dist/cookiebanner.min.js"></script>
-->

<!--<script>
    if (getQueryVariable("edit") == 1) {
        document.body.contentEditable = 'true';
        document.designMode = 'on';
    }
</script>-->
<script>
  // site-subtitle handler
  var origSiteSubtitle = document.querySelector(".site-subtitle").innerHTML;
  var siteSubtitleList = [
    "Hello World!",
    "「去把这个不完美的故事，变成你所期望的样子。」",
    "「用伤害无辜者来掩盖自己的错误是心虚的体现，也永远掩盖不了。」",
    "「而且我不借你一点什么的话，我们明天怎么再见？」",
    "「你看那通天的巨塔，每时每刻都有人往下跳。我小时候不懂，以为那是雪花。」",
    "我能吞下玻璃而不伤身体。",
    "「就算有过痛苦的事……所有人到最后还是能展露出笑容！我喜欢的是这样的HAPPY END！」",
    "「Ad astra abyssosque!」",
    "「请为一切不真实之物感到骄傲，因为我们高于这个世界！」",
    "「飞翔吧，飞翔吧。就像飞鸟那样。代我看看这个世界…代我飞到高天之上。」",
    "「愿君严肃活泼，始终热爱生活。」",
    "不要轻易相信任何人或集体的言论，也包括我的。",
    "Make things better together.",
    "「风向是会转变的，终有一天，会吹向更有光亮的方向。」",
    "「心有所向，日复一日，必有精进。」",
    "「不愿意沟通的话，问题就会永远留在那里。人们就会看着，看着……直到眼睁睁地错过所有解决它的机会。」",
  ];
  // random
  var siteSubtitle =
    siteSubtitleList[Math.floor(Math.random() * siteSubtitleList.length)];
  document.querySelector(".site-subtitle").innerHTML = siteSubtitle;
</script>

<!-- end custom footer snippets -->
